[Unit]
Description=Refresh Pacman mirrors weekly

[Timer]
Unit=pacman-mirrors-refresh.service
# Run every week
OnCalendar=weekly
# Triggers immediately if missed the last start time
Persistent=true

[Install]
WantedBy=timers.target
