[Unit]
Description=Refresh Pacman mirrors

[Service]
Type=oneshot
ExecStart=/bin/bash -c '\
	cp /etc/pacman.d/mirrorlist /etc/pacman.d/mirrorlist.backup && \
	curl -s \
		"https://www.archlinux.org/mirrorlist/?country=HK&protocol=https&use_mirror_status=on" | \
	sed -e "s/^#Server/Server/" -e "/^#/d" | rankmirrors -n 5 - \
	> /etc/pacman.d/mirrorlist'
